<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webserver.mapper.SalesOrderMapper">
    <select id="searchSalesOrders" resultType="map">
        SELECT
        so.so_id AS soId,
        so.quote_id AS quotationId,
        c.name AS soldToPartyName,
        so.sold_tp AS customerNo,
        c2.name AS shipToParty,
        so.ship_tp AS shipToPartyId,
        q.cust_ref AS customerReference,
        DATE_FORMAT(so.req_delivery_date, '%Y-%m-%d') AS reqDeliveryDate,
        so.status AS status,
        FORMAT(so.net_value, 2) AS netValue,
        so.currency AS currency,
        DATE_FORMAT(so.doc_date, '%Y-%m-%d') AS docDate,
        DATE_FORMAT(q.customer_reference_date, '%Y-%m-%d') AS customerReferenceDate,
        (SELECT GROUP_CONCAT(si.mat_id) FROM erp_sales_item si WHERE si.so_id = so.so_id) AS materialIds
        FROM
        erp_sales_order_hdr so
        LEFT JOIN
        erp_customer c ON so.sold_tp = c.customer_id
        LEFT JOIN
        erp_customer c2 ON so.ship_tp = c2.customer_id
        LEFT JOIN
        erp_quotation q ON so.quote_id = q.quotation_id
        <where>
            <if test="soId != null and soId != ''">
                AND so.so_id = #{soId}
            </if>
            <if test="status != null and status != ''">
                AND so.status = #{status}
            </if>
            <if test="customerNo != null and customerNo != ''">
                AND so.sold_tp = #{customerNo}
            </if>
            <if test="customerReference != null and customerReference != ''">
                AND q.cust_ref LIKE CONCAT('%', #{customerReference}, '%')
            </if>
        </where>
        ORDER BY so.so_id DESC
    </select>
    <!-- ✅ 新增销售订单详情查询 -->
    <select id="getSalesOrderDetails" resultType="map">
        SELECT
            so.so_id AS soId,
            so.quote_id AS quotationId,
            so.sold_tp AS soldToParty,
            so.ship_tp AS shipToParty,
            q.cust_ref AS customerReference,
            DATE_FORMAT(q.customer_reference_date, '%Y-%m-%d') AS customerReferenceDate,
            DATE_FORMAT(so.req_delivery_date, '%Y-%m-%d') AS reqDeliveryDate,
            FORMAT(so.net_value, 2) AS netValue,
            so.currency,
            (SELECT GROUP_CONCAT(ei.mat_id) FROM erp_item ei WHERE ei.document_id = so.so_id AND ei.document_type = 'sales_order') AS materialIds
        FROM
            erp_sales_order_hdr so
                LEFT JOIN erp_customer c ON so.sold_tp = c.customer_id
                LEFT JOIN erp_quotation q ON so.quote_id = q.quotation_id
        WHERE so.so_id = #{soId}
    </select>


</mapper>
